*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b1{
   background-color: orange;
   width: 500px;
   height: 400px;
   border: 1px solid black;
}
.b2{
    width: 480px;
    height: 380px;
    border: 10px solid yellow;
    margin: 10px ;
}
.b3{
    width: 460px;
    height: 360px;
    padding: 10px;
    background-color: green;
}
.b4{
    width: 440px;
    height: 340px;
    background-color: rgb(84, 84, 164);
  
}

.b4 img{
    width: 100%;
    margin-top: 40px;
}